body {
  margin: 0px;
  padding: 0px;
  background: #e84118;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 30px;
  padding: 10px;
}

.search-btn {
  color: #e84118;
  /* display: inline-block; */
  float: right; /* 会把内敛元素隐性的转化为块元素，但是不会占据一行，和inline-block类似，但是这里需要用到flex，所以不能使用inline-block */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center; /* 子元素水平居中 */
  align-items: center; /* 子元素垂直居中 */
}

.search-txt {
  border: none;
  outline: none;
  background: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  transition: 0.3s;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
}
